@media screen and (max-width:500px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(bg.png);
        background-size: cover;
}
header{
    width: 100%;
    height: 50px;
}
.back{
    float: left;
    display: flex;
height: 100%;
align-items: center;
margin-left: 20px;
color: white;

}
.views,.time{
    float: right;
    display: flex;
    height: 100%;
align-items: center;
margin-right: 20px;

}
.views{
    color: white;
}
.time{
    color: red;
}
.views p,.time p{
    margin-left:5px;
}
.menu{
    height: fit-content;
    position: fixed;
    bottom: 0;
    width: fit-content;
    right: 0;
}
.cart,.camera,.videocam,.voice,.chat,.menu i{
   height: 48px;
   width: 48px;
   background-color: white;
   margin: 15px 10px;
   border-radius: 100%;
   display:grid;
   place-items: center;
}
.menu-selects{
    width: 80%;
    display: none;
    height: 300px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* background-color: red; */
}
.products{
    width: 90%;
    padding: 5px;
    margin: auto;
    height: 100px;
    color: white;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(53, 52, 52, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}    
.product-img{
    height:80px;
    width: 80px;
    background-size: cover;
    background-position: center;
}
.product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product-content{
    width: 40%;
    height:fit-content;
    display: flex;
    flex-direction: column;
}
.colors{
    display: flex;
    margin-top: 10px;
}
.black,.blue,.gray{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
}
.black{
    background-color: black;
}
.blue{
    background-color: skyblue;
}
.gray{
    background-color: gray;
}
.quantity{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quantity svg{
    margin-top: 10px;
}
.active{
    background-color: green;
}
.select{
    fill: white;
}
}